{% extends 'base.html' %}
{% load static %}


{% block title %}
    صفحه اصلی | سامانه رزرو سالن
{% endblock %}

{% block headers_refrences %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block content %}
    <div class="main">
      <div class="container">
        {% include 'inc/menubar.html' %}
        <div class="content">
          <h2>سامانه رزرو سالن</h2><br>
          <p>
            خوش آمدید به اولین سامانه رزرو آنلاین شهرستان چابهار!
            شما در این سایت میتوانید در کمترین زمان ممکن سانس مورد نظر خود را برای سالن ورنا رزرو کنید.
            (توجه : سایت در نسخه آزمایشی قرار دارد و تمامی پرداخت ها غیر واقعی میباشند.)
          </p>
          <a href="{% url 'table:week_data' week_number=1 %}">جدول زمانبدی</a>
        </div>
        <div class="imgBox">
            <img src="{% static 'image/character.png' %}" alt="">
        </div>
        <p class="copyrightText" dir="ltr">
            Developed By Mohammad Hosein Yaghoubi. Copyright &#169 2023 Reserve Varna Salon. All Right Reserved.
        </p>
      </div>
    </div>
{% endblock %}

{% block footer_reference %}
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        {% if messages %}
            {% for msg in messages %}
                Swal.fire({
                    title: "{{ msg }}",
                    icon: "{{ msg.tags }}",
                    confirmButton: "باشه"
                })
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}