{% extends 'base.html' %}


{% block title %}
    صفحه اصلی | سامانه رزرو آنلاین
{% endblock %}


{% block content %}
    <style>
        body {
            font-family: Vazirmatn;
        }

        div {
            text-align: center;
            direction: rtl;
        }

        h1 {
            font-size: 6rem;
        }
    </style>
    <div>
        <h1> صفحه خانه :) </h1>
        <h3> آقا {{ request.user.full_name }} آقا </h3>
    </div>
{% endblock %}

{% block footer_reference %}
    <script>
        {% if messages %}
            {% for msg in messages %}
                Swal.fire({
                    title: "{{ msg }}",
                    icon: "{{ msg.tags }}",
                    confirmButton: "باشه"
                })
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}