{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    ثبت نام | سامانه رزرو سالن
{% endblock %}

{% block headers_refrences %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <section>
        <img src="{% static 'image/4.jpg' %}" alt="" class="bg">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="login">
                <h2>ثبت نام</h2>
                <div class="inputBox">
                    <label for="fullname">نام و نام خانوادگی:</label>
                    {% render_field register_form.full_name placeholder="نام و نام خانوادگی خود را وارد کنید." id="fullname" %}
                    {{ register_form.full_name.errors }}
                </div>
                <div class="inputBox">
                    <label for="phone_number">شماره موبایل (جهت هماهنگی):</label>
                    {% render_field register_form.phone_number placeholder="********09" id="phone_number" %}
                    {{ register_form.phone_number.errors }}
                </div>
                <div class="inputBox">
                    <label for="password">رمز عبور:</label>
                    {% render_field register_form.password placeholder="رمز عبور خود را وارد کنید." id="password" %}
                    {{ register_form.password.errors }}
                </div>
                <div class="inputBox">
                    <label for="confirm-password">تکرار رمز عبور:</label>
                    {% render_field register_form.confirm_password placeholder="لطفا رمز عبور خود را تکرار کنید." id="confrim-password" %}
                    {{ register_form.confirm_password.errors }}
                </div>
                <div class="submit-btn">
                    <input type="submit" value="ثبت نام" id="btn">
                </div>
                <div class="group">
                    <div>
                        <p>حساب کابری دارید؟ <a href="{% url 'accounts:login_page' %}">وارد شوید!</a></p>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}

{% block footer_reference %}
    <script>
        {% if messages %}
            {% for msg in messages %}
                Swal.fire({
                    title: '{{ msg }}',
                    icon: '{{ msg.tags }}',
                    showCancelButton: true,
                    confirmButtonText: 'ورود',
                    cancelButtonText: 'بستن',
                    cancelButtonColor: "red"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/accounts/login/";
                    }
                })
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}