{% load static %}
<!Doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'image/football-icon.png' %}" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/reset2.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block headers_refrences %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script>
    const replaceDigits = function () {
        const map = ["&\#1776;", "&\#1777;", "&\#1778;", "&\#1779;", "&\#1780;", "&\#1781;", "&\#1782;", "&\#1783;", "&\#1784;", "&\#1785;"];
        document.body.innerHTML = document.body.innerHTML.replace(/\d(?=[^<>]*(<|$))/g, function ($0) {
            return map[$0]
        });
    };
    window.onload = replaceDigits;
</script>
</body>
</html>