{% extends 'base.html' %}
{% load static%}
{% load jalali_tags %}
{% load poll_extras %}


{% block title %}
    جدول زمانی | سامانه رزرو آنلاین
{% endblock %}

{% block headers_refrences %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
    <div class="table-div">
        <main class="table">
            <section class="table__header">
                <a href="{% url 'table:week_data' week_number=4 %}"
                   class="{% if request.resolver_match.url_name == 'week_data' and request.resolver_match.kwargs.week_number == 4 %}url_resolver{% endif %}">هفته
                    چهارم</a>
                <a href="{% url 'table:week_data' week_number=3 %}"
                   class="{% if request.resolver_match.url_name == 'week_data' and request.resolver_match.kwargs.week_number == 3 %}url_resolver{% endif %}">هفته
                    سوم</a>
                <h1 id="title">
                    رزرو آنلاین سالن
                </h1>
                <a href="{% url 'table:week_data' week_number=2 %}"
                   class="{% if request.resolver_match.url_name == 'week_data' and request.resolver_match.kwargs.week_number == 2 %}url_resolver{% endif %}">هفته
                    دوم</a>
                <a href="{% url 'table:week_data' week_number=1 %}"
                   class="{% if request.resolver_match.url_name == 'week_data' and request.resolver_match.kwargs.week_number == 1 %}url_resolver{% endif %}">هفته
                    اول</a>
            </section>
            <section class="table__body">
                <table style="direction: rtl">
                    <thead>
                    <tr>
                        <th><strong>روز / زمان</strong></th>
                        {% for reserve_day_header in reserve_days_header %}
                            <th><strong>
                            {{ reserve_day_header|get_weekday }}
                        </strong>
                            <hr>
                            {{ reserve_day_header|to_jalali }}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="persian-number">01:30</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "01:30" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">07:30</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "07:30" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">09:00</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "09:00" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">10:30</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "10:30" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">12:00</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "12:00" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">13:30</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "13:30" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">15:00</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "15:00" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">16:30</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "16:30" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">18:00</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "18:00" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">19:30</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "19:30" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">21:00</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "21:00" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">22:30</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "22:30" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="persian-number">23:59</th>
                        {% for day in reserve_days %}
                            {% if day.time|time:"H:i" == "23:59" %}
                                <td
                                        class="{% if day.status == 'AVA' %}th-green{% elif day.status  == 'BOK' %}th-red{% else %}th-orange{% endif %}">
                                    <a href="#" class="status">
                                        {% if day.status == 'AVA' %}
                                            رزرو
                                            کنید!{% elif day.status  == 'BOK' %}
                                            رزرو شده{% else %}زمان رزرو گذشته
                                            است.{% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
{% endblock %}